{% extends 'posts/base.html' %}

{% block title %} Профиль {% endblock %}

{% block content %}
<section class=" h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-12 col-md-8 col-lg-6 col-xl-7">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: orange; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            {% if user1.avatar %}
                                <img alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-4"
                                 style="width: 300px; z-index: 1" src="{{ user1.avatar.url }}"/>
                            {% else %}
                                <img alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                 style="width: 180px; z-index: 1"
                                 src="/photos/system_photo/istockphoto-1300845620-612x612.jpg">
                            {% endif %}
                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            <h5>{{ user1.username }}</h5>
                        </div>
                    </div>
                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                        <div class="d-flex justify-content-end text-center py-1">
                            <div>
                                <p class="mb-1 h5">{{ count_posts }}</p>
                                <p class="small text-muted mb-0">Количество постов</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">About</p>
                            <div class="p-4" style="background-color: #f8f9fa;">
                                <p class="font-italic mb-1">Web Developer</p>
                                <p class="font-italic mb-1">Lives in New York</p>
                                <p class="font-italic mb-0">Photographer</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0">Посты</p>
                            <p class="mb-0"><a href="#!" class="text-muted">Показать все</a></p>
                        </div>
                        <div class="row g-2">
                            {% for fields in all_posts %}
                                <div class="card mb-4 ">
                                    <div class="card-body media media-body">
                                        <img src="{{ fields.photo.url }}" class="me-3 float-start" width="350" height="250"
                                             alt="">
                                        <h5 class="card-title">{{ fields.title }}</h5>
                                        <p class="card-text">{{ fields.content|safe|linebreaks|truncatewords:25 }}</p>
                                        <a href="{{ fields.get_url }}" class="btn btn-primary">Читать далее</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}