{% extends 'posts/base.html' %}

{% block title %} {{ news.title }} {% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col-md-8" style="margin-top: 7rem">
        <div class="card mb-4">
            <div class="card-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <strong> Категория: {{ news.category }}</strong>
                        </div>
                        <div class="col"></div>
                        <div class="col">
                            {{ news.author.username }} <img style="border-radius: 50%" width="50" height="50"
                                                            src="{{ news.author.avatar.url }}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body media media-body">
                <img src="{{ news.photo.url }}" class="me-3 float-start" width="350" height="250" alt="">
                <h5 class="card-title">{{ news.title }}</h5>
                <p class="card-text">{{ news.content }}</p>
            </div>
            <div class="card-footer text-muted">
                {{ item.created }}
            </div>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    <section class="gradient-custom">
        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8">
                    <div class="card">
                        <div class="card-body p-4">
                            <h4 class="text-center mb-4 pb-2">Комментарии</h4>
                            <div class="row">
                                <div class="col">
                                    {% for comment in post_comments %}
                                    <div class="d-flex flex-start">
                                        {% if comment.user.avatar %}
                                            <img class="rounded-circle shadow-1-strong me-3" alt="avatar" width="65"
                                             height="65"
                                                 src="{{ comment.user.avatar.url }}">
                                        {% else %}
                                            <img class="rounded-circle shadow-1-strong me-3" alt="avatar" width="65"
                                             height="65"
                                                 src="/photos/system_photo/istockphoto-1300845620-612x612.jpg">
                                        {% endif %}
                                        <div class="flex-grow-1 flex-shrink-1">
                                            <div>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p class="mb-1">
                                                        {{comment.user.username}} <span class="small">- {{comment.date}}</span>
                                                    </p>
                                                    <a href="#!"><i class="fas fa-reply fa-xs"></i><span class="small"> reply</span></a>
                                                </div>
                                                <p class="small mb-0">
                                                    {{comment.content}}
                                                </p>
                                            </div>

                                            <div class="d-flex flex-start mt-4">
                                                <a class="me-3" href="#">
                                                    <img class="rounded-circle shadow-1-strong"
                                                         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(11).webp"
                                                         alt="avatar"
                                                         width="65" height="65"/>
                                                </a>
                                                <div class="flex-grow-1 flex-shrink-1">
                                                    <div>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class="mb-1">
                                                                Simona Disa <span class="small">- 3 hours ago</span>
                                                            </p>
                                                        </div>
                                                        <p class="small mb-0">
                                                            letters, as opposed to using 'Content here, content here',
                                                            making it look like readable English.
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <form method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    {{form.content}}
                                                </div>
                                                <button class="btn btn-primary btn-block " type="submit">Comment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
</div>
{% endblock %}